body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.video-container {
  display: flex;
width: auto;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

#volumeControl {
  margin-left: 0px;
  background-color: inherit; 
  border-radius: 5px; 
  padding: 5px; 
}